/* Add CSS styling here */
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General Styles */
* {
    box-sizing: border-box;
    max-width: 100%;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Lobster', cursive;
    color: maroon;
}
section {
    padding: 1% 0;
    width: 95%;
    margin: 0 auto;
}
/* Header styles */

header {
    background-color: maroon;
    padding: 0 0 2% 1%;
}
h1 {
    font-size: 3.5rem;
    color: blanchedalmond;
    padding:0 0 0 2%;
    font-family: 'Dancing Script', cursive;
}
nav {
    display: flex;
    width: 50%;
    margin: 0 0 0 5%;
    height: 4vh;
} 
nav a {
    background-color: blanchedalmond;
    font-size: 1.8rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: black;
    border: 1px solid black;
    padding: 0 0 0 0;
}
/* First Section */
.section1{
    display: flex;
    height: 32vh;
    width: 100%;
    margin: 0 0 0 5%;
}
.left {
    height: 36vh;
    width: 36vw;
    display: flex;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 28vh;
    margin: 0 0 0 10%;
}
h2 {
    font-size: 4rem;
    margin: 0 10% 0 0%;
    font-family: 'Dancing Script', cursive;
}
.myProjects {
    font-size: 2rem;
    text-decoration: none;
    padding: 1%;
    margin: 0 70% 0 0%;
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    border: 1px solid black;
}
.text p {
    width: 80%;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 2rem;
}

/* Images Section */
.images {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
    height: 80vh;
    margin: 0 10% 0 0;
}
.imgRow1 {
    display: flex;
    justify-content: space-evenly;
}
.imgRow2 {
    display: flex;
    justify-content: space-evenly;
}
.pic {
    display: flex;
    flex-direction: column;
    align-content: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.small {
    width: 23vw;
    height: 20vh;
    padding: 0 0 0 20%;
}
.pic p {
    text-align: center;
    letter-spacing: 1px;
    margin: 0 0 0 10%;
}

/* Footer Section Styles */
footer {
    text-align: center;
    background-color: maroon;
    color: blanchedalmond;
    height: 15vh;
    padding: 1% 0 0 0;
} 
footer p {
    margin: 0 0 2% 0;
    letter-spacing: 1px;
    font-size: 1.9rem;
}
footer a {
    background-color: blanchedalmond;
    margin: 3% 0 0 0;
    padding: 1% 3%;
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    border: 1px solid black;
}
/************** 800PX STYLES ***************/

@media(max-width:800px){
    /* Header styles */
    header {
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 3rem;
        padding:1% 0 1% 0;
    }
    nav {
        display: flex;
        width: 80%;
        margin: 0 auto;
    } 
    nav a {
        padding: 0 0 1% 0;
    }
    /* First Section */
    .section1{
        width: 100%;
        display: flex;
        height: 35vh;
        margin: 0 0 0 2%;
        justify-content: space-evenly;
    }
    .left {
        height: 25vh;
        display: flex;
        width: 125vw;
        margin: 5% 0 0 4%;
    }
    
    .text {
        height: 32vh;
        width: 65vw;
        margin: 0 0 0 10%;
    }
    h2 {
        font-size: 2rem;
    }
    .myProjects {
        font-size: 1.6rem;
        margin: 0 75% 0 0%;
    }
    .text p {
        width: 80%;
        line-height: 1.1;
        font-size: 1.6rem;
    }
    
    /* Images Section */
    .images {
        display: flex;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: column;
        height: 108vh;
    }
    .imgRow1 {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
    }
    .imgRow2 {
        display: flex;
        flex-wrap: wrap;
        height: 50vh;
    }
    .pic {
        display: flex;
        flex-direction: column;
        align-content: center;
        width: 40vw;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 0 2% 0;
    }
    .small {
        width: 30vw;
        height: 21vh;
        padding: 0 0 0 0;
    }

    .pic p {
        letter-spacing: 1px;
        margin: 0 0 0 1%;
    }
    
    /* Footer Section Styles */
    footer {
        height: 13vh;
        padding: 2% 0 0 0;
    } 
    footer p {
        margin: 0 0 3% 0;
    }
}

/************** 500PX STYLES ***************/

@media(max-width:500px){
    /* Header styles */

    h1 {
        font-size: 2rem;
    }
    nav {
        display: flex;
        flex-direction: column;
        width: 25%;
        height: 17vh;
    } 
    /* First Section */
    .section1{
        width: 90%;
        display: flex;
        flex-direction: column;
        height: 90vh;
        justify-content: space-around;
    }
    .left {
        height: 27vh;
        display: flex;
        width: 70vw;
        margin: 1% 0 0 15%;
        align-items: center;
    }
    
    .text {
        height: 26vh;
        width: 60vw;
        margin: 0 0 0 23%;
        text-align: center;
    }
    h2 {
        font-size: 1.9rem;
    }
    .myProjects {
        font-size: 1.5rem;
        margin: 4% 30% 4% 20%;
    }
    .text p {
        width: 90%;
        line-height: 1.2;
        font-size: 1.5rem;
    }
    
    /* Images Section */
    .images {
        height: 125vh;
    }
    .imgRow1 {
        height: 60vh;
    }
    .imgRow2 {
        height: 60vh;
    }
    .pic {
        width: 50vw;
        margin: 0 0 2% 0;
    }
    .small {
        width: 40vw;
        height: 25vh;
    }

    /* Footer Section Styles */
    footer p {
        margin: 1% 0 3% 0;
        font-size: 1.5rem;
    }
}