/* Add CSS styling here */
/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General Styles */
* {
    box-sizing: border-box;
    max-width: 100%;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Lobster', cursive;
    color: maroon;
}
section {
    padding: 1% 0;
    width: 95%;
    margin: 0 auto;
}
/* Header styles */

header {
    background-color: maroon;
    padding: 0 0 2% 1%;
}
h1 {
    font-size: 3.5rem;
    color: blanchedalmond;
    padding:0 0 0 2%;
    font-family: 'Dancing Script', cursive;
}
nav {
    display: flex;
    width: 50%;
    margin: 0 0 0 5%;
} 
nav a {
    background-color: blanchedalmond;
    font-size: 1.8rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: black;
}
/* First Section */
.section1{
    display: flex;
    height: 30vh;
    width: 100%;
    margin: 0 0 0 4%;
}
.left {
    height: 28vh;
    display: flex;
    width:40%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 28vh;
}
h2 {
    font-size: 2.2rem;
    margin: 0 10% 0 0%;
    font-family: 'Dancing Script', cursive;
}
.myProjects {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1%;
    margin: 0 70% 0 0%;
    text-align: center;
    background-color: blanchedalmond;
    color: black;
}
.text p {
    width: 80%;
    line-height: 1;
    letter-spacing: 1px;
}

/* Images Section */
.images {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
    height: 44vh
}
.imgRow1 {
    display: flex;
    justify-content: space-evenly;
}
.imgRow2 {
    display: flex;
    justify-content: space-evenly;
}
.pic {
    display: flex;
    align-content: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.small {
    width: 16vw;
    height: 16vh;
}
.pic p {
    text-align: center;
    letter-spacing: 1px;
}

/* Footer Section Styles */
footer {
    text-align: center;
    background-color: maroon;
    color: blanchedalmond;
    height: 15vh;
    padding: 1% 0 0 0;
} 
footer p {
    margin: 0 0 2% 0;
    letter-spacing: 1px;
}
footer a {
    background-color: blanchedalmond;
    margin: 3% 0 0 0;
    padding: 1% 3%;
    text-decoration: none;
    color: black;
}
/************** 800PX STYLES ***************/
/* General Styles */
* {
    box-sizing: border-box;
    max-width: 100%;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    line-height: 1.5;
    font-family: 'Lobster', cursive;
    color: maroon;
}
section {
    padding: 1% 0;
    width: 95%;
    margin: 0 auto;
}
/* Header styles */

header {
    background-color: maroon;
    padding: 0 0 2% 1%;
}
h1 {
    font-size: 3.5rem;
    color: blanchedalmond;
    padding:0 0 0 2%;
    font-family: 'Dancing Script', cursive;
}
nav {
    display: flex;
    width: 50%;
    margin: 0 0 0 5%;
} 
nav a {
    background-color: blanchedalmond;
    font-size: 1.8rem;
    text-decoration: none;
    width: 100%;
    text-align: center;
    color: black;
}
/* First Section */
.section1{
    display: flex;
    height: 30vh;
    width: 100%;
    margin: 0 0 0 4%;
}
.left {
    height: 28vh;
    display: flex;
}
.left img {
    width: 90%;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 28vh;
}
h2 {
    font-size: 2.2rem;
    margin: 0 10% 0 0%;
    font-family: 'Dancing Script', cursive;
}
.myProjects {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 1%;
    margin: 0 70% 0 0%;
    text-align: center;
    background-color: blanchedalmond;
    color: black;
}
.text p {
    width: 80%;
    line-height: 1;
    letter-spacing: 1px;
}

/* Images Section */
.images {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
    height: 44vh
}
.imgRow1 {
    display: flex;
    justify-content: space-evenly;
}
.imgRow2 {
    display: flex;
    justify-content: space-evenly;
}
.pic {
    display: flex;
    align-content: column;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.small {
    width: 16vw;
    height: 16vh;
}
.pic p {
    text-align: center;
    letter-spacing: 1px;
}

/* Footer Section Styles */
footer {
    text-align: center;
    background-color: maroon;
    color: blanchedalmond;
    height: 15vh;
    padding: 1% 0 0 0;
} 
footer p {
    margin: 0 0 2% 0;
    letter-spacing: 1px;
}
footer a {
    background-color: blanchedalmond;
    margin: 3% 0 0 0;
    padding: 1% 3%;
    text-decoration: none;
    color: black;
}





/************** 500PX STYLES ***************/